name: Swell Tier 2 Applications Tests (Discover)

on: workflow_call

defaults:
  run:
    shell: bash

jobs:

  # Initialization needed by all the workflows
  # ------------------------------------------
  swell-tier_2-setup:

    runs-on: nccs-discover
    timeout-minutes: 30

    steps:
      - name: validate-workflow
        run: |
          /home/jardizzo/bin/nams_check.py ${{ github.triggering_actor }} swell

      # Only one tier 2 run is allowed at a given time
      - name: establish-workflow-status
        run: |
          if [ -f "/discover/nobackup/gmao_ci/swell/tier2/__running__" ]; then echo "Tier 2 is already running. Abort"; exit 1; fi
          touch /discover/nobackup/gmao_ci/swell/tier2/__running__

      - name: acquire-swell
        uses: actions/checkout@v3

      - name: install-swell
        run: |
          # Make experiment directory
          mkdir -p /discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}
          # Copy and source modules
          cp ${GITHUB_WORKSPACE}/src/swell/deployment/platforms/nccs_discover_sles15/modules /discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/
          source /discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/modules
          pip install --prefix=/discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/swell -r ${GITHUB_WORKSPACE}/requirements.txt --no-cache-dir ${GITHUB_WORKSPACE}
          # Remove source code (needed to ensure nothing relies on the source)

  # --------------------------------------------
  # STEP1: BUILD JEDI CODE FROM DEVELOP BRANCHES
  # --------------------------------------------

  swell-tier_2-build_jedi:

    runs-on: nccs-discover
    timeout-minutes: 600
    needs: swell-tier_2-setup

    steps:

      - name: run-swell-build_jedi
        run: |
          CI_WORKSPACE=/discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}
          SUITE_NAME=build_jedi
          CI_WORKSPACE_JOB=/discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/${SUITE_NAME}
          EXPERIMENT_ID=swell-${SUITE_NAME}-${GITHUB_RUN_ID}

          mkdir -p $CI_WORKSPACE_JOB

          source /discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/modules

          # Get python version
          PYVER=`python --version | awk '{print $2}' | awk -F. '{print $1"."$2}'`

          export PATH=$CI_WORKSPACE/swell/bin:$PATH
          export PYTHONPATH=${PYTHONPATH}:$CI_WORKSPACE/swell/lib/python$PYVER/site-packages

          echo "experiment_id: $EXPERIMENT_ID" > $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml
          echo "experiment_root: $CI_WORKSPACE_JOB" >> $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml

          rm -r -f $HOME/cylc-run/${EXPERIMENT_ID}-suite

          cd $CI_WORKSPACE_JOB
          swell create ${SUITE_NAME} -m defaults -p nccs_discover_sles15 -o $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml
          swell launch $CI_WORKSPACE_JOB/${EXPERIMENT_ID}/${EXPERIMENT_ID}-suite --no-detach --log_path $CI_WORKSPACE_JOB/${EXPERIMENT_ID}

          # Create symbolic link to build that does not involve $GITHUB_RUN_ID
          ln -s $CI_WORKSPACE_JOB/${EXPERIMENT_ID}/jedi_bundle $CI_WORKSPACE_JOB/jedi_bundle

  # Move experiment directory on failure
  swell-tier_2-build_jedi-failure:

    runs-on: nccs-discover
    timeout-minutes: 30
    needs: swell-tier_2-build_jedi
    if: failure()

    steps:
      - name: Fail hold for build_jedi
        run: |
          SUITE_NAME=build_jedi
          CI_WORKSPACE_JOB=/discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/${SUITE_NAME}
          mv $CI_WORKSPACE_JOB ${CI_WORKSPACE_JOB}_FAILED


  # ----------------------------------------
  # STEP2: RUN TESTING SUITES WITH NEW BUILD
  # ----------------------------------------

  # Run hofx suite
  swell-tier_2-hofx:

    runs-on: nccs-discover
    timeout-minutes: 600
    needs: swell-tier_2-build_jedi

    steps:

      - name: run-swell-hofx
        run: |
          CI_WORKSPACE=/discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}
          SUITE_NAME=hofx
          CI_WORKSPACE_JOB=/discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/${SUITE_NAME}
          EXPERIMENT_ID=swell-${SUITE_NAME}-${GITHUB_RUN_ID}

          mkdir -p $CI_WORKSPACE_JOB

          source /discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/modules

          # Get python version
          PYVER=`python --version | awk '{print $2}' | awk -F. '{print $1"."$2}'`

          export PATH=$CI_WORKSPACE/swell/bin:$PATH
          export PYTHONPATH=${PYTHONPATH}:$CI_WORKSPACE/swell/lib/python$PYVER/site-packages

          echo "experiment_id: $EXPERIMENT_ID" > $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml
          echo "experiment_root: $CI_WORKSPACE_JOB" >> $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml

          # Point to the active build
          echo "existing_jedi_source_directory: /discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/build_jedi/jedi_bundle/source" >> $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml
          echo "existing_jedi_build_directory: /discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/build_jedi/jedi_bundle/build" >> $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml

          rm -r -f $HOME/cylc-run/${EXPERIMENT_ID}-suite

          cd $CI_WORKSPACE_JOB
          swell create ${SUITE_NAME} -m defaults -p nccs_discover_sles15 -o $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml
          swell launch $CI_WORKSPACE_JOB/${EXPERIMENT_ID}/${EXPERIMENT_ID}-suite --no-detach --log_path $CI_WORKSPACE_JOB/${EXPERIMENT_ID}

  # Move experiment directory on failure
  swell-tier_2-hofx-failure:

    runs-on: nccs-discover
    timeout-minutes: 30
    needs: swell-tier_2-hofx
    if: failure()

    steps:
      - name: Fail hold for hofx
        run: |
          SUITE_NAME=hofx
          CI_WORKSPACE_JOB=/discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/${SUITE_NAME}
          mv $CI_WORKSPACE_JOB ${CI_WORKSPACE_JOB}_FAILED

  # Run 3dfgat_cycle suite
  swell-tier_2-3dfgat_cycle:

    runs-on: nccs-discover
    timeout-minutes: 600
    needs: swell-tier_2-build_jedi

    steps:

      - name: run-swell-3dfgat_cycle
        run: |
          CI_WORKSPACE=/discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}
          SUITE_NAME=3dfgat_cycle
          CI_WORKSPACE_JOB=/discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/${SUITE_NAME}
          EXPERIMENT_ID=swell-${SUITE_NAME}-${GITHUB_RUN_ID}

          mkdir -p $CI_WORKSPACE_JOB

          source /discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/modules

          # Get python version
          PYVER=`python --version | awk '{print $2}' | awk -F. '{print $1"."$2}'`

          export PATH=$CI_WORKSPACE/swell/bin:$PATH
          export PYTHONPATH=${PYTHONPATH}:$CI_WORKSPACE/swell/lib/python$PYVER/site-packages

          echo "experiment_id: $EXPERIMENT_ID" > $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml
          echo "experiment_root: $CI_WORKSPACE_JOB" >> $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml

          # Point to the active build
          echo "existing_jedi_source_directory: /discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/build_jedi/jedi_bundle/source" >> $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml
          echo "existing_jedi_build_directory: /discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/build_jedi/jedi_bundle/build" >> $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml

          rm -r -f $HOME/cylc-run/${EXPERIMENT_ID}-suite

          cd $CI_WORKSPACE_JOB
          swell create ${SUITE_NAME} -m defaults -p nccs_discover_sles15 -o $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml
          swell launch $CI_WORKSPACE_JOB/${EXPERIMENT_ID}/${EXPERIMENT_ID}-suite --no-detach --log_path $CI_WORKSPACE_JOB/${EXPERIMENT_ID}

  # Move experiment directory on failure
  swell-tier_2-3dfgat_cycle-failure:

    runs-on: nccs-discover
    timeout-minutes: 30
    needs: swell-tier_2-3dfgat_cycle
    if: failure()

    steps:
      - name: Fail hold for 3dfgat_cycle
        run: |
          SUITE_NAME=3dfgat_cycle
          CI_WORKSPACE_JOB=/discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/${SUITE_NAME}
          mv $CI_WORKSPACE_JOB ${CI_WORKSPACE_JOB}_FAILED

  # Run 3dfgat_atmos suite
  swell-tier_2-3dfgat_atmos:

    runs-on: nccs-discover
    timeout-minutes: 600
    needs: swell-tier_2-build_jedi

    steps:

      - name: run-swell-3dfgat_atmos
        run: |
          CI_WORKSPACE=/discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}
          SUITE_NAME=3dfgat_atmos
          CI_WORKSPACE_JOB=/discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/${SUITE_NAME}
          EXPERIMENT_ID=swell-${SUITE_NAME}-${GITHUB_RUN_ID}

          mkdir -p $CI_WORKSPACE_JOB

          source /discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/modules

          # Get python version
          PYVER=`python --version | awk '{print $2}' | awk -F. '{print $1"."$2}'`

          export PATH=$CI_WORKSPACE/swell/bin:$PATH
          export PYTHONPATH=${PYTHONPATH}:$CI_WORKSPACE/swell/lib/python$PYVER/site-packages

          echo "experiment_id: $EXPERIMENT_ID" > $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml
          echo "experiment_root: $CI_WORKSPACE_JOB" >> $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml

          # Point to the active build
          echo "existing_jedi_source_directory: /discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/build_jedi/jedi_bundle/source" >> $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml
          echo "existing_jedi_build_directory: /discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/build_jedi/jedi_bundle/build" >> $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml

          rm -r -f $HOME/cylc-run/${EXPERIMENT_ID}-suite

          cd $CI_WORKSPACE_JOB
          swell create ${SUITE_NAME} -m defaults -p nccs_discover_sles15 -o $CI_WORKSPACE_JOB/${SUITE_NAME}-override.yaml
          swell launch $CI_WORKSPACE_JOB/${EXPERIMENT_ID}/${EXPERIMENT_ID}-suite --no-detach --log_path $CI_WORKSPACE_JOB/${EXPERIMENT_ID}

  # Move experiment directory on failure
  swell-tier_2-3dfgat_atmos-failure:

    runs-on: nccs-discover
    timeout-minutes: 30
    needs: swell-tier_2-3dfgat_atmos
    if: failure()

    steps:
      - name: Fail hold for 3dfgat_atmos
        run: |
          SUITE_NAME=3dfgat_atmos
          CI_WORKSPACE_JOB=/discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID}/${SUITE_NAME}
          mv $CI_WORKSPACE_JOB ${CI_WORKSPACE_JOB}_FAILED

  # -------------------------------------------------------------
  # STEP3: PERFORM UPDATES OF STABLE NIGHTLY POINTER AND CLEAN UP
  # -------------------------------------------------------------

  # Update the nightly pointer (only runs if tier 1 tests were sucessful)
  # --------------------------
  swell-tier_2-update_if_stable:

    runs-on: nccs-discover
    timeout-minutes: 30
    needs: [swell-tier_2-hofx, swell-tier_2-3dfgat_cycle, swell-tier_2-3dfgat_atmos]

    steps:
      - name: Replace link to stable with link to current run and remove old directory
        run: |
          # Get full path to previous sucessful run
          previous_stable=`readlink -f /discover/nobackup/gmao_ci/swell/tier2/stable`

          # Remove link
          rm -f /discover/nobackup/gmao_ci/swell/tier2/stable

          # Link to new stable
          ln -sf /discover/nobackup/gmao_ci/swell/tier2/${GITHUB_RUN_ID} /discover/nobackup/gmao_ci/swell/tier2/stable

          # Remove old stable
          echo "Removing previous stable: $previous_stable"
          rm -r -f $previous_stable

      # Remove the running lock if the update was sucessful
      - name: Remove the running lock
        run: |
          rm -f /discover/nobackup/gmao_ci/swell/tier2/__running__

  # Perform all the clean up (always runs regardless of success of failure)
  # ------------------------

  swell-tier_2-clean_up:

    runs-on: nccs-discover
    timeout-minutes: 30
    needs: [swell-tier_2-hofx, swell-tier_2-3dfgat_cycle, swell-tier_2-3dfgat_atmos]
    if: always()  # Always run the clean up, even if failed or cancelled

    steps:

      - name: Remove the cylc logging directories
        run: |
          rm -r -f $HOME/cylc-run/swell-hofx-${GITHUB_RUN_ID}-suite
          rm -r -f $HOME/cylc-run/swell-3dfgat_cycle-${GITHUB_RUN_ID}-suite
          rm -r -f $HOME/cylc-run/swell-3dfgat_atmos-${GITHUB_RUN_ID}-suite
          rm -r -f $HOME/cylc-run/swell-build_jedi-${GITHUB_RUN_ID}-suite

      - name: Remove the R2D2 experiment output
        run: |
          rm -r -f /discover/nobackup/gmao_ci/R2D2DataStore/Local/ncdiag/ob/swell-hofx-${GITHUB_RUN_ID}
          rm -r -f /discover/nobackup/gmao_ci/R2D2DataStore/Local/ncdiag/ob/swell-3dfgat_cycle-${GITHUB_RUN_ID}
          rm -r -f /discover/nobackup/gmao_ci/R2D2DataStore/Local/ncdiag/ob/swell-3dfgat_atmos-${GITHUB_RUN_ID}
          rm -r -f /discover/nobackup/gmao_ci/R2D2DataStore/Local/mom6_cice6_UFS
